#ignore .venv:
.venv/

# Ignore generated raster and CSV outputs
*.tif
*.csv

# Ignore folders with generated CSV/TIF outputs
/daily_snapshots/
/predictions_csv/
/satellite_overlays/
/daily_maps10k/
/daily_maps/
/smooth_maps_individual/
/water_intensity_maps/
/__pycache__/myenv/
/__pycache__